# Archivos auxiliares de LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.idx
*.ilg
*.ind
*.nav
*.snm
*.vrb
*.dvi
*.ps
*.bcf
*.run.xml

# PDF compilado (opcional: comentar si quieren versionar el PDF)
main.pdf
